 <p>Dear <%= @user.username%>,</p>
<p>  Welcome to this site. Your account has successfully been created. </p>
<p> Please Login to your account</a> using these credentials: </p>
<ul>
  <li>Username: <%= @user.email %></li>
  <li>passowrd: <%= @user.password %></li>
  <li>otp: <%= @user.otp_code %></li>
</ul>
<p>thanks </p>