 <p>Dear <%= @user.username%>,</p>
<p>  Welcome to this site. Your account has successfully been created. </p>
<p> Please Login to your account</a> using these credentials: </p>
<ul>
  <li>Username: <%= @user.email %></li>

  <li>otp: <%= @user.otp_code %></li>
    <a href="<%= "http://localhost:3000/passwords/new?token=#{@user.reset_password_token}"%>">Reset Password</a>
</ul>
<p>thanks </p>